<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="home.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Roasted</title>
</head>
<body>
    <div class = "container">
        <h1 class = "title">
            Spotify <span class="roasted">ROASTED</span>
        </h1>
        <a class="login-button" href="/oauth">
            Log in with Spotify
        </a>
        <footer>
            <p class="footer-text"><a href="#">About</a></p>
            <p class="footer-text">(Not in any way affiliated with Spotify)</p>
            <p class="footer-text"><a href="#">Contact Us</a></p>
        </footer>
    </div>
</body>
</html>