{% load static %}
<html>
<!-- wrap "player" -->
<head>
    <meta charset="UTF-8">
    <title>Spotify Roasted</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.css" rel="stylesheet"/>
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"
            integrity="sha512-aNMyYYxdIxIaot0Y1/PLuEu3eipGCmsEUBrUq+7aVyPGMFH8z0eTP0tkqAvv34fzN6z+201d3T8HPb1svWSKHQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Open Graph Metadata -->
    <meta property="og:title" content="Spotify Roasted: Your Personalized Wrap!" />
    <meta property="og:description" content="Check out my Spotify Wrapped roast and share yours too!" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://129.213.47.14:8000" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Spotify Roasted" />


    <link rel="stylesheet" href="{% static 'dist/reset.css' %}">
    <link rel="stylesheet" href="{% static 'dist/reveal.css' %}">
    <link rel="stylesheet" href="{% static 'dist/theme/dracula.css' %}">

    <style>
        .left {
            text-align: left;
        }

        .small {
            font-size: 40%;
            word-break: break-word;
            margin-top: 3vh;
        }

        .mid {
            font-size: 65%;
            word-break: break-word;
            font-style: italic;
        }

        .slide {
            width: 100vw;
            height: 100vh;
            --ratio: 10vh / 10vw;

            font-size: calc(55px + (26 - 14) * ((100vh - 700px) / (1000 - 700)));
            /*font-size: calc(80px * var(--ratio) * 2);*/
            word-break: break-word;
        }

        .current-fragment {
            text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
        }

        .button:hover {
            opacity: 0.9; /* Adjusts opacity on hover */
        }


    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>






<script>
    function copyAndShortenURL() {
        // Get the current page URL
        const currentURL = window.location.href;

        // Make a request to the Django backend to shorten the URL
        fetch(`/shorten-url?url=${encodeURIComponent(currentURL)}`)
            .then(response => response.json())
            .then(data => {
                if (data.short_url) {
                    // Copy the shortened URL to the clipboard
                    const textarea = document.createElement('textarea');
                    textarea.value = data.short_url;
                    document.body.appendChild(textarea);
                    textarea.select();
                    document.execCommand('copy');
                    document.body.removeChild(textarea);

                    // Notify the user
                    alert('Shortened URL copied to clipboard: ' + data.short_url);
                } else {
                    alert('Failed to shorten the URL.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while shortening the URL.');
            });
    }
</script>





<div class="reveal">
    <div class="slides" id="slidesContainer">

    </div>
</div>



<script src="{% static '/dist/reveal.js' %}"></script>

<script>
    function splitToSentences(string) {
        var sentences = [];
        //respect brackets
        var inBracket = false;
        var inQuote = false;
        var lastIndex = 0;
        for (var i = 0; i < string.length; i++) {
            if (string[i] === "(") {
                inBracket = true;
            } else if (string[i] === ")") {
                inBracket = false;
            }
            if (string[i] === "\"") {
                inQuote = !inQuote;
            }
            if ((string[i] === "." || string[i] === "?" || string[i] === "!") && !inBracket && !inQuote && (i === string.length - 1 || string[i + 2].match(/[A-Z1-9]/))) {
                sentences.push(string.substring(lastIndex, i + 1));
                lastIndex = i + 2;
            }
        }
        return sentences
    }

    function randomColor() {
        var letters = '456789A';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 7)];
        }
        return color;
    }

    var topSongRoast = "{{ wrap.topSongRoast }}";
    var topGenreRoast = "{{ wrap.topGenreRoast }}";
    var topArtistRoast = "{{ wrap.topArtistRoast }}";
    var summaryRoast = "{{ wrap.summaryRoast }}";
    var varNames = ["top Song Roast", "top Genre Roast", "top Artist Roast", "summary Roast"];
    //split to sentences
    var topSongRoastSentences = splitToSentences(topSongRoast);
    var topGenreRoastSentences = splitToSentences(topGenreRoast);
    var topArtistRoastSentences = splitToSentences(topArtistRoast);
    var summaryRoastSentences = splitToSentences(summaryRoast);
    console.log(topSongRoast)
    console.log(topSongRoastSentences)

// Generate slides
var container = document.getElementById("slidesContainer");

// Create the "Welcome to Spotify Roasted" slide
var welcomeSlide = document.createElement("section");
welcomeSlide.classList.add('slide');
welcomeSlide.classList.add('large-padding');
welcomeSlide.setAttribute('data-transition', 'fade');
welcomeSlide.setAttribute('tint', randomColor()); // Set tint for the background color
// Add content with flexbox styling for centering
welcomeSlide.innerHTML = `
    <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
        <h3 class="fade-in" style="font-size: 5rem; text-align: center;">Welcome to Spotify Roasted.</h3>
    </div>
`;
container.appendChild(welcomeSlide);

// Create the top song description slide
var topSongDescriptionSlide = document.createElement("section");
topSongDescriptionSlide.classList.add('slide');
topSongDescriptionSlide.classList.add('large-padding');
topSongDescriptionSlide.setAttribute('data-transition', 'fade');
topSongDescriptionSlide.setAttribute('tint', randomColor()); // Set tint for the background color

if (topSongRoastSentences.length > 0) {
    // Add the first sentence as a fragment
    topSongDescriptionSlide.innerHTML = `
        <h3 class='center right-margin fade-in left-align'>Your Top Song</h3>
        <div class='center large-margin right-margin fragment mid left fade-in-then-semi-out left-align'>
            <p>${topSongRoastSentences[0]}</p>
            <hr style='visibility: hidden'>
        </div>
    `;

    // Add the second sentence as a separate fragment
    if (topSongRoastSentences.length > 1) {
        topSongDescriptionSlide.innerHTML += `
            <div class='center large-margin right-margin fragment mid left fade-in-then-semi-out left-align'>
                <p>${topSongRoastSentences[1]}</p>
            </div>
        `;
    }

    container.appendChild(topSongDescriptionSlide);
}

// Create the top song image slide
if ("{{ wrap.topSongImage }}") {
    var imageSection = document.createElement("section");
    imageSection.classList.add('slide');
    imageSection.classList.add('large-padding');
    imageSection.setAttribute('data-transition', 'fade');
    imageSection.setAttribute('tint', randomColor()); // Set a random background color

    imageSection.innerHTML = `
        <h3 class='center right-margin fade-in left-align'>Your Top Song Image</h3>
        <div class="image-container" style="display: flex; justify-content: center; align-items: center; padding: 10px 0 40px 0; overflow: hidden;">
            <img id="topSongImage" class="fade-in-image" src="{{ wrap.topSongImage }}" alt="Top Song"
                 style="width: 100%; height: auto; max-height: 70vh; object-fit: contain; border-radius: 10px; box-shadow: none; opacity: 0;">

        </div>
    `;

    // Append the image slide to the container
    container.appendChild(imageSection);
}

// Use IntersectionObserver to trigger the fade-in effect when the image slide comes into view
document.addEventListener('DOMContentLoaded', function() {
    const image = document.getElementById('topSongImage');

    if (image) {
        const observer = new IntersectionObserver((entries, observerInstance) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.style.transition = 'opacity 1.5s'; // Make the fade-in slower
                    entry.target.style.opacity = 1; // Trigger the fade-in effect
                } else {
                    entry.target.style.opacity = 0; // Reset opacity when it goes out of view
                }
            });
        }, { threshold: 0.1 }); // Trigger when 10% of the image is visible

        observer.observe(image);
    }
});





// Create slides for other sections (top genre, top artist, summary, etc.)
for (var j = 1; j < varNames.length; j++) {
    var sentences = eval(varNames[j].replaceAll(' ', '') + "Sentences");
    var section = document.createElement("section");
    section.classList.add('slide');
    section.classList.add('large-padding');
    var color = randomColor();
    section.setAttribute('tint', color);

    section.innerHTML = "<h3 class='center right-margin left fade-in-then-semi-out left-align'>Your " + varNames[j].replace(' Roast', '') + "</h3>";
    section.setAttribute('data-transition', 'fade');
    section.innerHTML += "<div class='center large-margin right-margin fragment mid left fade-in-then-semi-out left-align'><p>" + sentences[0] + "</p><hr style='visibility: hidden'></div>";

    for (var i = 1; i < sentences.length; i++) {
        section.innerHTML += "<p data-id='p" + i + "' class='center large-margin right-margin fragment left small fade-in-then-semi-out left-align'>" + sentences[i] + "</p>";
    }

    container.appendChild(section);
}


// Create the share slide and append it to the container
/*var shareSlide = document.createElement("section");
shareSlide.classList.add('slide');
shareSlide.classList.add('large-padding');
shareSlide.setAttribute('data-transition', 'fade');
shareSlide.setAttribute('tint', randomColor()); // Set a random background color

shareSlide.innerHTML = `


`;

container.appendChild(shareSlide);*/



</script>

<script>
    Reveal.initialize({
        hash: true,
        view: 'scroll',
        scrollProgress: true,
        center: false,
        display: 'block',
        disableLayout: true,
        plugins: []
    });

    var viewportElement = Reveal.getViewportElement();
    viewportElement.classList.add('scroll-page');
    viewportElement.classList.add('shadow-right')

    var nextSlide = function () {
        console.log("nextSlide");
        const viewportElement = Reveal.getViewportElement();
        viewportElement.scrollTo({
            "top": viewportElement.scrollTop + viewportElement.offsetHeight,
            "behavior": "smooth"
        });
    }

    var prevSlide = function () {
        console.log("prevSlide");
        const viewportElement = Reveal.getViewportElement();

        viewportElement.scrollTo({
            "top": viewportElement.scrollTop - viewportElement.offsetHeight,
            "behavior": "smooth"
        });
    }


    Reveal.on('ready', function (event) {
        Reveal.slide(0, 0, 0);
        setTimeout(nextSlide, 800);
    });
    Reveal.on('slidechanged', function (event) {
        if (event.currentSlide && event.previousSlide) {
            var newcolor = event.currentSlide.getAttribute('tint');
            var oldcolor = event.previousSlide.getAttribute('tint');
            console.log(newcolor)
            var viewportElement = Reveal.getViewportElement();
            console.log(viewportElement)
            anime({
                targets: '.slide-background',
                keyframes: [
                    {backgroundColor: oldcolor},
                    {backgroundColor: newcolor}
                ],
                autoplay: true,
                duration: 300,
                //direction: 'alternate',
                easing: 'cubicBezier(0,.69,0,1)'
            })
        }
    });

    Reveal.addKeyBinding({keyCode: 38, key: 'UP', description: 'Previous slide'}, prevSlide);
    Reveal.addKeyBinding({keyCode: 37, key: 'LEFT', description: 'Previous slide'}, prevSlide);
    Reveal.addKeyBinding({keyCode: 40, key: 'DOWN', description: 'Next slide'}, nextSlide);
    Reveal.addKeyBinding({keyCode: 39, key: 'RIGHT', description: 'Next slide'}, nextSlide);
</script>


<script src="{% static 'js/wrap.js' %}"></script>
</body>
</html>